.App {
  width: 100%;
  height: 98vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}



.wordleBox {
  width: 100%;
  height: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 55%;
  gap: 4%;
}
.blank {
  width: 7.5%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  border-bottom: 3px solid #000000;
}
.blankWord {
  font-family: 'Pretendard';
  font-weight: bold;
  font-size: 2.8rem;
}



.inputForm {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  gap: 20px;
  margin-bottom: 5%;
}
.inputBox {
  width: 85%;
  height: 5.5rem;
  border-radius: 1.5rem;
  border: 3px solid #000000;
  background-color: #5a5a5a;
  padding: 0 12px;

  font-family: 'Pretendard';
  font-size: 1.7rem;
  font-weight: 500;
  text-align: center;
  color: white;
}
.inputSubmitButton {
  width: 40%;
  height: 5.4rem;
  border-radius: 1.5rem;
  border: none;
  background-color: #7c7c7c;

  font-family: 'Pretendard';
  font-weight: 500;
  color: white;
  font-size: 1.7rem;
  cursor: pointer;
}