.main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3%;
}

.word_blanks {
  width: 80%;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4%;
}

.blank {
  width: 5%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #000000;
}

.word {
  font-family: 'Pretendard';
  font-weight: bold;
  font-size: 1.5rem;
}

.input_box {
  width: 20%;
  height: 5%;
  border-radius: 1rem;
  border: none;
  padding: 0 12px;

  font-family: 'Pretendard';
  font-size: 1.2rem;
  font-weight: 500;
}

.submit_button {
  width: 100px;
  height: 5%;
  border-radius: 1rem;
  border: none;
  background-color: #276cbb;
  color: white;
  font-size: 16px;
  cursor: pointer;

  font-family: 'Pretendard';
  font-size: 1.2rem;
}