.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  z-index: 9999;

  animation: fadeIn 0.2s ease-out;
}

.modal {
  width: 70%;
  height: auto;

  background: #5a5a5a;
  padding: 1.5rem;
  border-radius: 14px;
  
  text-align: center;

  transform: scale(0.95);
  animation: popIn 0.2s ease-out forwards;
}

.modal button {
  cursor: pointer;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes popIn {
  to { transform: scale(1); }
}

.modalTextBox {
  margin-bottom: 2rem;
}

.message {
  font-family: 'Pretendard';
  font-size: 1.5rem;
  line-height: 1.7rem;
  color: white;
}

.button {
  width: 50%;
  height: 4rem;
  border: none;
  border-radius: 8px;
  background-color: #7c7c7c;

  font-family: 'Pretendard';
  font-size: 1.5rem;
  color: white;
}